@import '../constants.scss';

.choose-block {
    width: 467px;
    height: 321px;
    border: 0.1px solid rgba(142, 142, 142, 1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px 50px 0;
    box-shadow: 0 4px 4px 0 $grey;
}
.block-heading {
    font-size: $size-24;
    max-width: 329px;
    text-align: center;
    font-weight: $weight-400;
}
.block-text {
    margin: 0;
    max-width: 407px;
    font-weight: $weight-300;
    text-align: center;
    line-height: 25px;
}
.declaration {
    padding-bottom: 40px;
}
