$font-stack: Roboto, sans-serif;
$blue: #17A2B8;
$light-blue: #007BFF;
$orange: #FC9A12;
$grey:rgba(142, 142, 142, 1);
$white: #FFFFFF;
$red: red;
$weight-300: 300;
$weight-400: 400;
$size-12: 12px;
$size-16: 16px;
$size-24: 24px;
$size-32: 32px;